.messages {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    padding: 10px;
    opacity: 0;
    animation: fade-in 0.5s 0.5s forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
